                            /* Navbar styling */
                            
ul li{
    list-style-type: none;
    margin: 30px;
    padding: 10px;
    display: inline;
    font-family: 'Space Grotesk', sans-serif;
  }

nav{
    border-bottom: 1px grey solid;
    padding: 15px 0;

}

li a{
    text-decoration: none;
    color: rgb(144, 126, 126);
    font-weight:600;
}


.nav_button{
    float: right;
    margin: auto 100px ;
    font-family: 'Space Grotesk', sans-serif;
    padding: 20px;
    background-color:#2549D3;
    color: #fafafa;
    border-radius: 10px;
    font-size: large;
}
.nav_button:hover{
    background-color: #1e1f21;
}
.heading{
    color: black;
    font-weight:900;
    font-family: 'Oleo Script', cursive;
    font-size:40px;
}

.heading:hover{
    color: rgb(240, 231, 231);
}

.middle{
    margin-left: 200px;
}

.middle a:hover{
    color: black;
}

body{
    background-color: #fafafa;
}


                            /* 2nd Section */

        #mansion_img{
            float: right;
        }
/* .container17{
    color: #2549D3;
    font-family: 'Space Grotesk', sans-serif;
    width: 50%;
    margin-top: 300px;
}

.container17 p{
  color: #4f5057;  
} */
/* .container18{
    width: 50%;
    float: right;
} */


.button3{
    background-color: #2549D3;
    color: #fafafa;
    border-radius: 20px;
    padding:10px 30px;
    margin: 20px;
    font-size:larger;
}


                            /* Why you shld choose us section */
.container13{
    margin: 100px 100px; 
    width: 100%;   
}

.container14 img{
    height: 320px;
    width: 50%;
    margin-left: 400px;
}
.container14{
    display: inline-block;
    width: 50%;
}

.container15{
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
    color: #2549D3;
}
.container15 li{
    display: block;
}
.container15 p{
    color: #4f5057;
}

                            /* Featured Properties */

.button2{
    background-color: #2549D3;
    color: #fafafa;
    border-radius: 20px;
    padding:10px 30px;
    margin: 20px;
    font-size:larger;
    
}
.container9{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;

}

.container9 h1{
    color: #2549D3;
}
.container10,.container11,.container12{
    display: inline-block;
    width: 25%;
    background-color: #ffffff;
    border-radius: 15px; 
}
.container10{
    margin-right: 70px;
    text-align: justify;
}


.container11{
    margin-right: 70px;
    text-align: justify;
}
.container12{
    text-align: justify;
}

[alt=house1],[alt=house2],[alt=house3]{
    height: 250px;
    width:100%;
}
.price{
   text-align: right; 
}



                            /* Client Feedback Section */
.container5{
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    margin: 80px 0;
}

.container5 h1{
    color: #2549D3;
}

.container5 h3{
    color: #4f5057;
}
.container6,.container7,.container8{
    display: inline-block;
    width: 25%;
    background-color: #ffffff;
    border-radius: 15px;
}

.container6{
    margin-right: 70px;
    margin-left: 106px;
}

.container7{
    margin-right: 70px;
}

.button1{
    background-color: #2549D3;
    color: #fafafa;
    border-radius: 20px;
    padding:10px 30px;
    margin: 20px;
    font-size:larger;

}


            /* footer */
.main_container{
    background-color: #2549D3;
}   
.container1{
    color: #fafafa;
    font-family: 'Space Grotesk', sans-serif;
    text-align:justify;
    display: inline-block;
    width: 25%;
    font-size: 20px;
    margin: auto 0;
    position: relative;
    bottom: 240px;
    padding: 0 50px;
}        

.container1 h1{
    color: #fafafa;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 0;
}
.container1 p{
   margin-top: 0; 
}

.container2{
    display: inline-block;
    width: 15%;
    padding: 75px 0;
    font-size: 20px;    
    color: #fafafa;
    font-family: 'Space Grotesk', sans-serif;
    text-align: justify;
}

.container2 li{
    display:block;
}

.container2 h3{
    text-align:left;
    padding-left: 78px;
}

.container3{
    display: inline-block;
    width: 25%;
    font-size: 20px;    
    color: #fafafa;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 20px;
    text-align: justify;
    position: relative;
    bottom: 25px;
}

.container3 li{
    display:block;
}

.container3 h3{
 margin-left: 78px;   
}


.container4{
    display: inline-block;
    width: 25%;
    font-size: 20px;    
    color: #fafafa;
    font-family: 'Space Grotesk', sans-serif;
    margin-left: 0;
    position: relative;
    bottom: 25px;
}
.container4 li{
    display:block;
     
}

.container4 h3{
    margin-left: 80px;
}
